# Materia: Aprendizaje Automático 1
# IEFI  - Parte Práctica

# Consigna:  
    
Dado el DataSet crx3.data: 

- Realizar las tareas de Preprocesamiento indicadas para luego seleccionar el modelo que mejor **AC** obtenga sobre él.   

- Cuando sea necesario randomizar usar semilla = 123, para dividir dataset usar proporción 80/20.

**Primera Parte**

Preprocesamiento:  

Limpieza de *Missing Values*

- imputar la moda a las variables categóricas
- imputar con kNN con n=5 a las variables numéricas, y con peso uniforme.
- Una vez limpiado el DataFrame, guarde como csv con Pandas  al X_train_transformado, al X_test_transformado, al y_train y al y_test con los esos mismos nombres y extensión csv. Procure guardar los nombres correctos de las columnas.Deberá adjuntarlos para corrección. Sugerencia: para guardarlos use la opción index=False de df.to_csv para que no le agregue una columna que le puede causar problemas luego al leerlo.


**Segunda Parte**

- En este caso no hay variables ordinales, así que deberá:  

- transformar en dummy todas las variables categóricas.  

- **Normalizar** las variables numéricas

**Tercer Parte**

Selección de Modelo:  

- Deberá seleccionar el modelo que mejor Pronostique eligiendo **AC** como métrica.
- Incluya un resumen con los hiperparámetros y resultados de evaluación del modelo elegido.

Antes de arrancar con el ejercicio, le voy a dar una pequeña ayuda con los datos iniciales:

In [314]:
import numpy as np
import pandas as pd

Vamos a trabajar con un DataSet real, el cual se llama 'crx3.data' (a pesar de la extensión es un csv).   

Al trabajar con datos reales no elaborados por nosotros, debemos estar preparados para enfrentar algunos **"problemitas"** inesperados ... 

En este caso se trata de una empresa japonesa dedicada a la calificación de crédito, veamos qué información nos proveen:

Relevant Information:

    This file concerns credit card applications.  All attribute names
    and values have been changed to meaningless symbols to protect
    confidentiality of the data.

Ok, los nombres y valores de cada variable no nos brindarán ninguna información ya que han sido modificados, para que justamente ... no los entendamos.   

Veamos qué otra información nos proveen:

## Descripción del DataSet

Number of Attributes: 15 + class attribute

Attribute Information:

    A1:	b, a.
    A2:	continuous.
    A3:	continuous.
    A4:	u, y, l, t.
    A5:	g, p, gg.
    A6:	c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
    A7:	v, h, bb, j, n, z, dd, ff, o.
    A8:	continuous.
    A9:	t, f.
    A10:	t, f.
    A11:	continuous.
    A12:	t, f.
    A13:	g, p, s.
    A14:	continuous.
    A15:	continuous.
    A16: +,-         (class attribute)

Lo anterior nos indica qué tipo de variable es cada una y que la que debemos pronosticar es la A16. Será por lo tanto un problema de Clasificación (bivariada, es decir de 2 valores posibles, el + y el -).

Missing Attribute Values:
    37 cases (5%) have one or more missing values.  The missing
    values from particular attributes are:

    A1:  12
    A2:  12
    A4:   6
    A5:   6
    A6:   9
    A7:   9
    A14: 13

Ok, hay missing values ... pero observemos que sólo algunas variables los tienen.

## Carga de los datos:

Cargue los datos en un DataFrame, llámelo df:

In [315]:
df=pd.read_csv('Crx3.data', sep = ",") #Estan separados por ; y o por , por eso le agrego el separador correcto

Veamos los primeros 10 registros:

In [316]:
df.head(10)

   b  30.83       0  u  g   w  v   1.25  t t.1  01  f g.1  00202    0.1  +
0  a  58.67   4.460  u  g   q  h  3.040  t   t   6  f   g   43.0    560  +
1  a  24.50   0.500  u  g   q  h  1.500  t   f   0  f   g  280.0    824  +
2  b  27.83   1.540  u  g   w  v  3.750  t   t   5  t   g  100.0      3  +
3  b  20.17   5.625  u  g   w  v  1.710  t   f   0  f   s  120.0      0  +
4  b  32.08   4.000  u  g   m  v  2.500  t   f   0  t   g  360.0      0  +
5  b  33.17   1.040  u  g   r  h  6.500  t   f   0  t   g  164.0  31285  +
6  a  22.92  11.585  u  g  cc  v  0.040  t   f   0  f   g   80.0   1349  +
7  b  54.42   0.500  y  p   k  h  3.960  t   f   0  f   g  180.0    314  +
8  b  42.50   4.915  y  p   w  v  3.165  t   f   0  t   g   52.0   1442  +
9  b  22.08   0.830  u  g   c  h  2.165  f   f   0  t   g  128.0      0  +

## Un problemita:  

Seguramente observó que los datos no tienen encabezados o nombres de variables.   

Su primer tarea será la de asignar los nombres indicados previamente (A1 ...A16) a cada una de las columnas de nuestro DataFrame.   

Revise que estén asignados correctamente.

In [317]:
df.columns = ['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10', 'A11', 'A12', 'A13', 'A14', 'A15', 'A16']

Revisemos, miremos nuevamente los primeros 10 registros de df

In [318]:
df.head(10)

  A1     A2      A3 A4 A5  A6 A7     A8 A9 A10  A11 A12 A13    A14    A15 A16
0  a  58.67   4.460  u  g   q  h  3.040  t   t    6   f   g   43.0    560   +
1  a  24.50   0.500  u  g   q  h  1.500  t   f    0   f   g  280.0    824   +
2  b  27.83   1.540  u  g   w  v  3.750  t   t    5   t   g  100.0      3   +
3  b  20.17   5.625  u  g   w  v  1.710  t   f    0   f   s  120.0      0   +
4  b  32.08   4.000  u  g   m  v  2.500  t   f    0   t   g  360.0      0   +
5  b  33.17   1.040  u  g   r  h  6.500  t   f    0   t   g  164.0  31285   +
6  a  22.92  11.585  u  g  cc  v  0.040  t   f    0   f   g   80.0   1349   +
7  b  54.42   0.500  y  p   k  h  3.960  t   f    0   f   g  180.0    314   +
8  b  42.50   4.915  y  p   w  v  3.165  t   f    0   t   g   52.0   1442   +
9  b  22.08   0.830  u  g   c  h  2.165  f   f    0   t   g  128.0      0   +

Hagamos un info() sobre nuestro DataFrame para ver qué tipos de datos tenemos en cada columna y cuántos missing values ... Revise para ver si está todo bien ... fíjese por ejemplo que las columnas que deben ser numéricas (fíjese en la columna Dtype), lo sean y que las que deben ser numéricas también lo sean ...

In [319]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689 entries, 0 to 688
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      677 non-null    object
 1   A2      677 non-null    float64
 2   A3      689 non-null    float64
 3   A4      683 non-null    object
 4   A5      683 non-null    object
 5   A6      680 non-null    object
 6   A7      680 non-null    object
 7   A8      689 non-null    float64
 8   A9      689 non-null    object
 9   A10     689 non-null    object
 10  A11     689 non-null    int64
 11  A12     689 non-null    object
 12  A13     689 non-null    object
 13  A14     676 non-null    float64
 14  A15     689 non-null    int64
 15  A16     689 non-null    object
dtypes: float64(4), int64(2), object(10)
memory usage: 86.2+ KB

También podemos revisar con describe():

In [320]:
df.describe(include='all')

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
count,677,677.000000,689.000000,683,683,680,680,689.000000,689,689,689.000000,689,689,676.000000,689.000000,689
unique,2,NaN,NaN,3,3,14,9,NaN,2,2,NaN,2,3,NaN,NaN,2
top,b,NaN,NaN,u,g,c,v,NaN,t,f,NaN,f,g,NaN,NaN,-
freq,467,NaN,NaN,518,518,137,398,NaN,360,395,NaN,373,624,NaN,NaN,383
mean,NaN,31.569261,4.765631,NaN,NaN,NaN,NaN,2.224819,NaN,NaN,2.402032,NaN,NaN,183.988166,1018.862119,NaN
std,NaN,11.966670,4.978470,NaN,NaN,NaN,NaN,3.348739,NaN,NaN,4.866180,NaN,NaN,173.934087,5213.743149,NaN
min,NaN,13.750000,0.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,0.000000,0.000000,NaN
25%,NaN,22.580000,1.000000,NaN,NaN,NaN,NaN,0.165000,NaN,NaN,0.000000,NaN,NaN,74.500000,0.000000,NaN
50%,NaN,28.420000,2.750000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,0.000000,NaN,NaN,160.000000,5.000000,NaN
75%,NaN,38.250000,7.250000,NaN,NaN,NaN,NaN,2.625000,NaN,NaN,3.000000,NaN,NaN,277.000000,396.000000,NaN
max,NaN,80.250000,28.000000,NaN,NaN,NaN,NaN,28.500000,NaN,NaN,67.000000,NaN,NaN,2000.000000,100000.000000,NaN

Si parece que está todo OK, puede arrancar con nuestro Ejercicio, de aqui en adelante es todo suyo!

## Primera Parte. Limpieza: Imputación de Missing Values


- Las columnas numéricas deben imputarse con kNN (n=5)
- Las variables categóricas deben imputarse con la moda.
- Realice el procedimiento de tal manera de **preservar los nombres de las variables**, para facilitar el siguiente paso.
- Denomine a los dataframes obtenidos como X_train_limpio, y_train, X_test_limpio, y_test

Al finalizar debería tener los DataFrames X_train_limpio y X_test_limpio, además de y_train e y_test que no se han modificado.

In [321]:
from sklearn.model_selection import train_test_split
X=df.drop(columns=['A16'])
X_train, X_test, y_train, y_test = train_test_split(X, df['A16'], test_size=0.2, random_state=123)

#y_train = y_train.to_frame()

In [322]:
from sklearn.impute import SimpleImputer  
from sklearn.compose import ColumnTransformer 
from sklearn.impute import KNNImputer

#Obtengo arrays con los tipos de columnas para faciltiar la tarea
cols_num=X_train.select_dtypes(include=['int64','float64']).columns
cols_cat=X_train.select_dtypes(include='object').columns

#Creo los imputadores
t1=('imputador_num', KNNImputer(n_neighbors=5), cols_num)  
t2=('imputador_cat', SimpleImputer(strategy='most_frequent'), cols_cat) 

#Creo el transformador
transformador_columnas = ColumnTransformer(transformers=[t1,t2],remainder='passthrough')

#Entreno el transformador
transformador_columnas.fit(X_train)

ColumnTransformer(n_jobs=None, remainder='passthrough', sparse_threshold=0.3,
                  transformer_weights=None,
                  transformers=[('imputador_num',
                                 KNNImputer(add_indicator=False, copy=True,
                                            metric='nan_euclidean',
                                            missing_values=nan, n_neighbors=5,
                                            weights='uniform'),
                                 Index(['A2', 'A3', 'A8', 'A11', 'A14', 'A15'], dtype='object')),
                                ('imputador_cat',
                                 SimpleImputer(add_indicator=False, copy=True,
                                               fill_value=None,
                                               missing_values=nan,
                                               strategy='most_frequent',
                                               verbose=0),
                                 Index(['A1', 'A4', 'A5', 'A6', 'A7', 'A9', 'A10', 'A12', 'A13'], dtype='object'))],
                  verbose=False)

In [323]:
#TransformocX_train y X_test
X_train_limpio = transformador_columnas.transform(X_train) 

X_test_limpio = transformador_columnas.transform(X_test)

#Creo los data frames con los nombres de columnas correspondientes.
cols_orden=cols_num.tolist() + cols_cat.tolist()
X_train_limpio=pd.DataFrame(X_train_limpio, columns=cols_orden) 
X_test_limpio=pd.DataFrame(X_test_limpio, columns=cols_orden)

In [324]:
#Pasar los archivos a CSV como fue solicitado, les pongo el nombre "limpio" para no confundir con los transformados que son post aplicacion de one hot y normalizacion

X_train_limpio = pd.DataFrame(X_train_limpio)
X_train_limpio.to_csv(r'C:\Users\Mateio\Desktop\AA I\X_train_limpio.csv',index=False)

X_test_limpio = pd.DataFrame(X_test_limpio)
X_test_limpio.to_csv(r'C:\Users\Mateio\Desktop\AA I\X_test_limpio.csv',index=False)

y_train = pd.DataFrame(y_train)
y_train.to_csv(r'C:\Users\Mateio\Desktop\AA I\y_train.csv',index=False)

y_test = pd.DataFrame(y_test)
y_test.to_csv(r'C:\Users\Mateio\Desktop\AA I\y_test.csv',index=False)

## Segunda Parte. Transformar en Dummy Variables las nominales y normalización de las numéricas:

Nota: al transformar en dummy tenga cuidado de incluir todos las categorías posibles para cada variable categórica ... por suerte al inicio nos indicaron qué valores puede asumir cada variable ...  Con las numéricas hay menos problema.  

- Cuando cree el transformador de columnas ... tenga cuidado de no darle el mismo nombre que al del paso anterior ... no debería dar problemas, pero mejor ser precavido.

- A los DataFrames obtenidos después de transformar, llámelos: X_train_transformado, y_train, X_test_transformado, y_test
- **IMPORTANTE:** Al aplicar los transformadores, aplique primero el de las columnas numéricas y después el de las categóricas, éso facilitará la corrección.

In [325]:
#Como fue indicado, primero realizo la normalizacion de las variables numericas
from sklearn.preprocessing import MinMaxScaler

t_norm=("normalizador",MinMaxScaler(feature_range=(0, 1)),cols_num) #Chequeado array cols_num
t_norm

transformador_norm = ColumnTransformer(transformers=[t_norm],remainder='passthrough')

transformador_norm.fit(X_train_limpio) #Entreno solo en el train

X_train_norm = transformador_norm.transform(X_train_limpio)  #Aplico la normalizacion a x train y x test

X_test_norm = transformador_norm.transform(X_test_limpio)


cols_orden=cols_num.tolist() + cols_cat.tolist()
X_train_norm=pd.DataFrame(X_train_norm, columns=cols_orden) 
X_test_norm=pd.DataFrame(X_test_norm, columns=cols_orden)
X_train_norm

,A2,A3,A8,A11,A14,A15,A1,A4,A5,A6,A7,A9,A10,A12,A13
0,0.120007,0.156636,0.002,0,0.07,0.00374167,b,y,p,i,h,f,f,f,g
1,0.1241,0.284792,0.07075,0.0149254,0.04,0.366684,b,u,g,aa,v,t,t,f,g
2,0.195154,0.474654,0.0605,1,0.07,0.00965352,b,u,g,cc,v,t,t,t,g
3,0.0969221,0.00797418,0.0145,0.164179,0.04,0.00370426,a,u,g,q,h,t,t,f,g
4,0.0954486,0.0222138,0,0.0447761,0.175,0.0287735,b,u,g,ff,ff,f,t,f,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
546,0.241487,0.0379723,0.05,0.0298507,0.0835,0.0187084,a,u,g,q,v,t,t,t,g
547,0.570236,0.00778432,0.0125,0.164179,0.19,0.102223,b,y,p,k,v,t,t,f,g
548,0.705305,0.161382,0.25,0,0,0.000149667,a,y,p,ff,ff,f,f,t,g
549,0.147348,0.234099,0.00825,0,0.11,0.0374167,a,u,g,aa,v,f,f,f,g
550,0.527996,0.151889,0,0,0.05,0.0359201,a,u,g,j,j,t,f,f,g

In [326]:
# Dummy para las Nominales: como conocemos cuáles son los valores posibles para cada variable, preferimos
# asignar manualmente los valores de cada categoria
from sklearn.preprocessing import OneHotEncoder

val_A1=['b','a']
val_A4=['u','y','l','t']
val_A5=['g','p','gg']
val_A6=['c','d','cc','i','j','k','m','r','q','w','x','e','aa','ff']
val_A7=['v','h','bb','j','n','z','dd','ff','o']
val_A9=['t','f']
val_A10=['t','f']
val_A12=['t','f']
val_A13=['g','p','s']

t_dummy=("onehot",OneHotEncoder(sparse=False,categories=[val_A1,val_A4,val_A5,val_A6,val_A7,val_A9,val_A10,val_A12,val_A13]),
         cols_cat) #Cols cat array chequeado que tiene el mismo orden que describi para asignar arriba

transformador_dummy= ColumnTransformer(transformers=[t_dummy],remainder='passthrough')

transformador_dummy.fit(X_train_norm) #Entreno sobre el train porque tenemos todos los valores posibles de cada categoria

X_train_transformado = transformador_dummy.transform(X_train_norm)

X_test_transformado = transformador_dummy.transform(X_test_norm)

In [327]:
X_train_norm['A4'].unique()

array(['y', 'u'], dtype=object)

## Fin Preprocesamiento

Si todo salió bien, ahora deberíamos tener los arrays X_train_transformado, y_train, X_test_transformado, y_test listos para **modelizar**

## Tercera Parte. Selección de Modelo


Puede continuar en este archivo o en otro para modelizar, si elije usar otro, llámelo *modelizacion* y puede ser un archivo de Jupyter o uno de Spyder.

In [328]:
# Librerías a utilizar en la selección de modelos
from sklearn import linear_model        # Para regresión Logística
from sklearn import neighbors           # para kNN
from sklearn.tree import DecisionTreeClassifier  # para Árbol de Decisión

# Librerías para evaluar
from sklearn.metrics import confusion_matrix, accuracy_score, f1_score

In [329]:
#Divido nuevamente el dataset para obtener los validation para el tunning de los hiperparametros
X_val_train,X_val_test,y_val_train,y_val_test=train_test_split(X_train_transformado,y_train,test_size=0.20,random_state=123)

#####Nota: tuve que agregar .values.ravel() para solucionar el warning del array de 1D en la modelizacion
y_val_train = y_val_train.values.ravel()
y_val_test = y_val_test.values.ravel()

### Selección de  Modelo e hiperparámetros:

### Regresión Logística

El modelo de regresión Logística es no paramétrico, así que directamente lo probamos.

In [330]:
#Creo el modelo
modeloRLog=linear_model.LogisticRegression(max_iter= 1000,penalty='none',fit_intercept=True, random_state=123)

#Lo entrenamos con el metodo fit
modeloRLog.fit(X_val_train,y_val_train)

#Creo la variable y_val_pred con las predicciones que el modelo hace sobre los datos del validation test
y_val_pred=modeloRLog.predict(X_val_test)

#Evaluamos en el validation test, las predicciones que realizó el modelo guardadas en la variable y_val_pred
AC_RLog=round(accuracy_score(y_val_test, y_val_pred),3)
F1_RLog=round(f1_score(y_val_test,y_val_pred, average='macro'),3)

# Mostrammos:

print("Evaluación modelo de Regresión Logística en el Validation")
print("Accuracy: ", AC_RLog)
print("F1: ", F1_RLog)

Evaluación modelo de Regresión Logística en el Validation
Accuracy:  0.901
F1:  0.898

### kNN

Para kNN, debemos seleccionar el mejor hiperparámetro "K", es decir, la cantidad de puntos vecinos que tenemos en cuenta en las cercanías para clasificar los grupos (que ya se conocen de antemano).

In [331]:
k_valores=np.arange(1,101,1)   # voy a probar los K desde 1 a 100, por esto creo el array que luego voy a iterar
k_valores

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

### kNN

Para kNN, debemos seleccionar el mejor hiperparámetro "K", es decir, la cantidad de puntos vecinos que tenemos en cuenta en las cercanías para clasificar los grupos (que ya se conocen de antemano).

Para cada valor de K, voy a crear el modelo, entrenarlo y evaluarlo con F1 y Accuracy, tomando este último como el criterio para definir cual es el mejor K. Si el valor de Accuracy obtenido por el K es mejor que el anterior, lo voy a guardar en una variable para mostrar al final de las 50 iteraciones cual fue el mejor resultado y a que K corresponde.

#### Knn. Distance: uniform

In [332]:
print("Evaluación modelo kNN en el Validation")

#Variables auxiliares donde se almacenarán los resultados del modelo elegido, las seteamos en 0 para empezar.
k_max=0
F1kNN_max=0
ACkNN_max=0

for k in k_valores:
    modelokNN = neighbors.KNeighborsClassifier(n_neighbors=k,weights='uniform') #Creo modelo
    modelokNN.fit(X_val_train, y_val_train)                                     #Entreno
    y_val_pred=modelokNN.predict(X_val_test)                                    #Pronostico
    ACkNN=accuracy_score(y_val_test, y_val_pred)                                #Obtengo AC
    F1kNN=f1_score(y_val_test,y_val_pred, average='macro')                      #Obtengo F1
    #print(str(k) + ' ' + str(F1kNN) + ' ' + str(ACkNN))
    if ACkNN>ACkNN_max:                 #Comparo Accuracy con el maximo y si es mayor, lo reemplazo.
        k_max=k                                                                 
        F1kNN_max=F1kNN
        ACkNN_max=ACkNN
        
print('Valor de k: ', k_max)                  #Hago print del mejor K y su respectivo Accuracy y F1.
print("Accuracy: ", round(ACkNN_max,6))
print("F1: ", round(F1kNN_max,6))

Evaluación modelo kNN en el Validation
Valor de k:  3
Accuracy:  0.90991
F1:  0.907191

#### Knn. Distance: distance

In [333]:
print("Evaluación modelo kNN en el Validation")

#Variables auxiliares donde se almacenarán los resultados del modelo elegido, las seteamos en 0 para empezar.
k=0
k_maxd=0
F1kNNd_max=0
ACkNNd_max=0

for k in k_valores:        
    modelokNN = neighbors.KNeighborsClassifier(n_neighbors=k,weights='distance') #Creo modelo
    modelokNN.fit(X_val_train, y_val_train)                                      #Entreno
    y_val_pred=modelokNN.predict(X_val_test)                                     #Pronostico
    ACkNNd=accuracy_score(y_val_test, y_val_pred)                                #Obtengo AC
    F1kNNd=f1_score(y_val_test,y_val_pred, average='macro')                      #Obtengo F1
    #print(str(k) + ' ' + str(F1kNNd) + ' ' + str(ACkNNd))
    if ACkNNd>ACkNNd_max:                 #Comparo Accuracy con el maximo y si es mayor, lo reemplazo.
        k_maxd=k                                                                 
        F1kNNd_max=F1kNNd
        ACkNNd_max=ACkNNd
        
print('Valor de k: ', k_maxd)               #Hago print del mejor K y su respectivo Accuracy y F1.
print("Accuracy: ", round(ACkNNd_max,6))
print("F1: ", round(F1kNNd_max,6))

Evaluación modelo kNN en el Validation
Valor de k:  14
Accuracy:  0.918919
F1:  0.916729

### Arbol de decisión

Los arboles de decision, tienen el hiperparámetro "max-depth", que significa la profunidad del arbol. Siguiendo un criterio similar al anterior, vamos a iterar para obtener la profundidad que nos provea el mejor AC, sin caer en overfitting.

In [334]:
#Igual que en el modelo anterior, creo array de numeros del 1 al 100 para luego iterar.
profundidades=np.arange(1,101,1)

In [335]:
#Creo variables auxiliares donde se almacenarán los resultados del modelo elegido, las seteamos en 0 para empezar.

p_max=0               #Aca guardaremos la profundidad del arbol que mejor resuelve el problema (mayor AC)
ACT_max=0
F1T_max=0

print("Evaluación modelo Árbol de Decisión en el Validation")

for p in profundidades: 
    modeloT=DecisionTreeClassifier(max_depth=p, random_state=123)        #Creamos el modelo con profundidad p
    modeloT.fit(X_val_train, y_val_train)                                # Lo entrenamos
    y_val_pred = modeloT.predict(X_val_test)                             # Pronosticamos los valores de y para los valores del X_test
    ACT=accuracy_score(y_val_test, y_val_pred)
    F1T=f1_score(y_val_test,y_val_pred, average='macro')
    #print(str(p) + ' ' + str(F1T) + ' ' + str(ACT))
    if ACT>ACT_max:                                                      #Utilizo accuracy como el parámetro que decide.
        p_max=p
        F1T_max=F1T
        ACT_max=ACT
    
print('Valor de profundidad ', p_max)
print("Accuracy: ", round(ACT_max,6))
print("F1: ", round(F1T_max,6))

Evaluación modelo Árbol de Decisión en el Validation
Valor de profundidad  5
Accuracy:  0.918919
F1:  0.917199

#### Comparacion de resultados

Comparamos los resultados y elegimos el modelo a llevar a producción. Métrica utilizada: Accuracy.

In [336]:
#Creo DataFrame con los valores obtenidos de cada modelo
dfRtdos= pd.DataFrame({'Modelo': ['Reg Log', 'kNNUniform', 'kNNDistance','Arbol'], 'Accuracy': [AC_RLog, ACkNN_max, ACkNNd_max, ACT_max], 'F1': [F1_RLog, F1kNN_max, F1kNNd_max, F1T_max], 'Hiperparametros': [ np.nan , k_max, k_maxd, p_max]})
#Pongo los modelos como indice
dfRtdos = dfRtdos.set_index('Modelo').sort_values(['Accuracy','F1'], ascending=False)
dfRtdos

             Accuracy        F1  Hiperparametros
Modelo
Arbol        0.918919  0.917199              5.0
kNNDistance  0.918919  0.916729             14.0
kNNUniform   0.909910  0.907191              3.0
Reg Log      0.901000  0.898000              NaN

De ese DataFrame, elijo el modelo con el mejor Accuracy y lo muestro

In [337]:
print('Finalmente, el modelo seleccionado es: ')

dfRtdos.loc[[(dfRtdos['Accuracy'].idxmax())]]

Finalmente, el modelo seleccionado es:

        Accuracy        F1  Hiperparametros
Modelo
Arbol   0.918919  0.917199              5.0

Muy bien, ahora ya sabemos cual es el modelo seleccionado, evaluémoslo entrando con el Train set vs el Test set.

In [338]:
modeloT_Final=DecisionTreeClassifier(max_depth=5, random_state=123)        #Creamos el modelo con profundidad p
modeloT_Final.fit(X_train_transformado, y_train)                                # Lo entrenamos
y_val_pred = modeloT_Final.predict(X_test_transformado)                             # Pronosticamos los valores de y para los valores del X_test
ACT_Final=accuracy_score(y_test, y_pred)
F1T_Final=f1_score(y_test,y_pred, average='macro')

print("Evaluación del modelo Seleccionado (Comportamiento esperado en el mundo real): ")
print("Accuracy: ", round(ACT_Final,3))
print("F1: ", round(F1T_Final,3))

Evaluación del modelo Seleccionado (Comportamiento esperado en el mundo real):
Accuracy:  0.841
F1:  0.84

### Paso a producción:

Finalmente el modelo que llevaríamos a producción sería el arbol de decision, pero podemos aprovechar todos los datos que tenemos para crear el modelo siempre que dejemos el valor de F1 y AC obtenidos con anterioridad como los estimadores de lo que ocurrirá en "la realidad", es decir los casos totalmente nuevos:

In [339]:
#Creamos el modelo de Arbol final
modelo_produccion=DecisionTreeClassifier(max_depth=5, random_state=123)  

# lo entrenamos con todo el dataset original
X = pd.concat([pd.DataFrame(X_train_transformado),pd.DataFrame(X_test_transformado)]) #Concateno para obtener X total (con preprocesamiento)
y = pd.concat([y_train,y_test])
modelo_produccion.fit(X, y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=5, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=123, splitter='best')

En este momento, el modelo está listo para recibir nuevas observaciones y resolver el problema inicial (pronosticar si se les dara credito a los clientes del banco, en base a las 15 features recoletadas)

Visualizamos el arbol resultante: